/* ==========================
   GENERAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;
    background:#FFF8F4;
    color:#333;

}

/* ==========================
   HEADER
========================== */

header{

    width:100%;
    padding:10px 0;
    text-align:center;
    background:#F6D6CC;

}

.logo img{

    height:170px;

}

/* ==========================
   HERO
========================== */

.hero{

    text-align:center;
    padding:30px 20px 20px;

}

.hero h1{

    font-size:33px;
    margin-bottom:15px;
    color:#4A2F2A;

}

.hero p{

    font-size:17px;
    color:#666;
    margin-bottom:16px;

}

.collectionIntro h2{

    font-size:28px;
    letter-spacing:2px;
    margin-bottom:10px;

}

.collectionIntro p{

    font-size:17px;
    color:#777;

}

/* ==========================
   CATEGORY TABS
========================== */

.categoryTabs{

    display:flex;
    justify-content:center;
    gap:35px;
    margin:20px 20px 30px;

    flex-wrap:wrap;

}

.tab{

    background:none;
    border:none;

    font-size:20px;

    cursor:pointer;

    padding-bottom:8px;

    transition:.3s;

}

.tab:hover{

    color:#D16C8D;

}

.tab.active{

    color:#D16C8D;

    border-bottom:3px solid #D16C8D;

}

/* ==========================
   PRODUCTS
========================== */

.products{

    display:none;

    justify-content:center;

    flex-wrap:wrap;

    gap:35px;

    padding:20px 50px 60px;

}

.activeProducts{

    display:flex;

}

.product{

    width:180px;

    cursor:pointer;

    transition:.3s;

}

.product:hover{

    transform:translateY(-8px);

}

.product img{

    width:180px;

    height:180px;

    object-fit:cover;

    border-radius:15px;

    background:white;

    box-shadow:0 5px 15px rgba(0,0,0,.12);

}

.product p{

    text-align:center;

    margin-top:12px;

    font-size:16px;

    font-weight:600;

}

/* ==========================
   MOBILE
========================== */

@media(max-width:768px){

.hero h1{

font-size:30px;

}

.hero p{

font-size:17px;

}

.categoryTabs{

gap:20px;

}

.tab{

font-size:18px;

}

.product{

width:150px;

}

.product img{

width:150px;

height:150px;

}

.products{

padding:20px;

gap:20px;

}

}
