/* ==========================
   GENERAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
font-family:Arial, Helvetica, sans-serif;

    background:#FFF8F4;
    color:#333;

}

/* ==========================
   HEADER
========================== */

header{

    width:100%;
    padding: 0;
    text-align:center;
    background:#F6D6CC;

}

.logo img{

    height:140px;
display:block;
    margin:auto;
}

/* ==========================
   HERO
========================== */

.hero{

    text-align:center;
    padding:20px 20px 10px;

}

.hero h1{

    font-size:33px;
    margin-bottom:15px;
    color:#4A2F2A;

}

.hero p{

    font-size:17px;
    color:#666;
    margin-bottom:16px;

}

.collectionIntro h2{

    font-size:28px;
    letter-spacing:2px;
    margin-bottom:10px;

}

.collectionIntro p{

    font-size:17px;
    color:#777;

}

/* ==========================
   CATEGORY TABS
========================== */

.categoryTabs{

    display:flex;
    justify-content:center;
    gap:12px;
    margin:10px auto 30px;

    flex-wrap:wrap;

}

.tab{

    background:none;
    border:none;

    font-size:17px;

    cursor:pointer;

    padding-bottom:8px;

    transition:.3s;

}

.tab:hover{

    color:#D16C8D;

}

.tab.active{

    color:#D16C8D;

    border-bottom:3px solid #D16C8D;

}

/* ==========================
   PRODUCTS
========================== */

.products{

    display:none;

    justify-content:center;

    flex-wrap:wrap;

    gap:18px;

    padding:10px 15px 25px;

}

.product{

    width:90px;

    text-align:center;

    cursor:pointer;

    transition:.25s;

}

.product:hover{

    transform:translateY(-4px);

}

.product img{

    width:85px;

    height:85px;

    object-fit:cover;

    border-radius:12px;

    background:white;

    box-shadow:0 3px 8px rgba(0,0,0,.12);

}

.product p{

    text-align:center;

    margin-top:6px;

    font-size:12px;

    font-weight:600;
   line-height:1.2;
}

/* ==========================
   MOBILE
========================== */


/* ==========================
   MOBILE
========================== */

@media (max-width:768px){

header{

    padding:0;

}

.logo img{

    height:110px;

}

.hero{

    padding:8px 10px 0;

}

.collectionIntro h2{

    font-size:22px;

}

.categoryTabs{

    gap:10px;
    margin:10px 10px 15px;
    flex-wrap:wrap;

}

.tab{

    font-size:15px;
    padding-bottom:5px;

}

.products{

    padding:10px;
    gap:15px;
    justify-content:center;

}

.product{

    width:80px;

}

.product img{

    width:80px;
    height:80px;
    border-radius:10px;

}

.product p{

    font-size:11px;
    margin-top:5px;
    line-height:1.2;

}

.popupBox{

    width:90%;
    max-width:300px;
    padding:25px;

}

.popupBox h2{

    font-size:20px;
    margin-bottom:20px;

}

.popupBox button{

    font-size:16px;
    padding:12px;

}

}
