/* ==========================
   GENERAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
font-family:Arial, Helvetica, sans-serif;

    background:#FFF8F4;
    color:#333;

}

/* ==========================
   HEADER
========================== */

header{

    width:100%;
    padding: 0;
    text-align:center;
    background:#F6D6CC;

}

.logo img{

    height:140px;
display:block;
    margin:auto;
}

/* ==========================
   HERO
========================== */

.hero{

    text-align:center;
    padding:15px 20px 5px;

}

.hero h1{

    font-size:27px;
   font-weight:700;
    margin-bottom:15px;
    color:#4A2F2A;

}

.hero p{

    font-size:15px;
    color:#777;
    margin-bottom:10px;

}

.collectionIntro h2{

    font-size:24px;
    font-weight:700;
    letter-spacing:1px;
    color:#4A2F2A;
    margin-bottom:6px;

}

.collectionIntro p{

    font-size:17px;
    color:#777;

}

/* ==========================
   CATEGORY TABS
========================== */

.categoryTabs{

    display:flex;
    justify-content:center;
    gap:18px;
    margin:8px auto 18px;

    flex-wrap:wrap;

}

.tab{

    background:none;
    border:none;

    font-size:20px;

    cursor:pointer;

    padding-bottom:8px;

    transition:.3s;

}

.tab:hover{

    color:#D16C8D;

}

.tab.active{

    color:#D16C8D;

    border-bottom:3px solid #D16C8D;

}

/* ==========================
   PRODUCTS
========================== */

.products{

display:none;

justify-content:center;
flex-wrap:wrap;
gap:25px;
padding:20px 50px 60px;

}

.product{

    width:130px;

    cursor:pointer;

    transition:.3s;
 text-align:center;

}

.product:hover{

    transform:translateY(-8px);

}

.product img{

    width:130px;

    height:130px;

    object-fit:cover;

    border-radius:11px;

    background:white;

    box-shadow:0 4px 10px rgba(0,0,0,.10);

}

.product p{

    text-align:center;

    margin-top:10px;

    font-size:15px;

    font-weight:600;
}

/* ==========================
   MOBILE
========================== */

@media (max-width:768px){

header{
    padding:0;
}

.logo img{
    height:130px;
}

.hero{
     padding:10px 15px 5px;
}

.hero h1{
    font-size:30px;
    font-weight:700;
    margin-bottom:6px;
}

.hero p{
   font-size:15px;
    margin-bottom:8px;
}

.collectionIntro h2{
   font-size:22px;
    margin-bottom:6px;
}

.categoryTabs{
     gap:8px;
    margin:5px 10px 12px;
}

.tab{
    font-size:15px;
   font-weight:600;
}

.products{
    padding:10px 15px 30px;
    gap:20px;
    justify-content:center;
}

.product{
    width:100px;
}

.product img{
    width:100px;
    height:100px;
    border-radius:12px;
}

.product p{
    font-size:13px;
    margin-top:8px;
    line-height:1.2;
}

}
